.ant-layout-sider {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.sn-sidebar-menu {
    padding-top: 10px;
    .ant-menu-submenu {
        margin-bottom: 20px;

        @media (min-width: 1400px) {
            margin-bottom: 30x;
        }
    }

    .ant-menu-submenu-title {
        padding: 0 17px !important;
    }

    .ant-menu-title-content {
        font-size: 14px !important;
        color: #000000 !important;
    }
}

.ant-select-selector {
    border-radius: 2px;
}

.ant-dropdown-menu {
    border-radius: 2px !important;
}