.sn-login-wrap {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100vh;
    background     : #F0F2F5;
    text-align     : center;
    position       : relative;
    overflow-y     : auto;
}

.snm-bg-pattern {
    position       : absolute;
    top            : 50%;
    left           : 0;
    right          : 0;
    bottom         : 0;
    height         : calc(100% - 10%);
    width          : 100%;
    background     : url("../../../public/assets/pattern.svg") no-repeat;
    background-size: contain;
    transform      : translateY(-50%);
}

.snm-form {
    margin     : 0 5rem;
    padding-top: 3rem;
}

.sn-formcontainer {
    margin-top: .6rem;
}

.sn-login-cnt {
    width    : 550px;
    max-width: 100%;
    position : relative;
    z-index  : 10;

    &__des {
        margin-top: 1rem;
    }
}

.sn-input-center .ant-input {
    text-align: center;
}

.sn-input-center {
    padding      : 9px 11px;
    border-radius: 2px;
    font-size    : 16px;

    svg {
        fill     : #1890FF;
        font-size: 16px;
    }
}

.snm-formgroup {
    .ant-form-item-control-input-content {
        display        : flex;
        justify-content: space-between;
    }
}

.snm-txt-left {
    text-align: left;
}

.snm-btn {
    height       : auto;
    padding      : 0.5rem 2.2rem;
    border-radius: 2px;
    font-size    : 16px;
    text-align   : left;
}